@import "../common/shared.css";
@import "../common/commonElements.css";
@import "../common/commonContent.css";
@import "../common/commonInterface.css";
@import "../monobook/main.css";

#footer li {
	display: block;
}
head:first-child + body #footer li { white-space: normal; }
.usermessage { display: none; }
.editsection { display: none; }

